*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#F8FAFC;
}

.page{
  width:100%;
  min-height:100vh;
  padding:50px;
  background:linear-gradient(135deg,#F8FAFC,#EEF6FF);
}

.main-card{
  width:100%;
  max-width:1300px;
  margin:auto;
  background:white;
  border-radius:25px;
  overflow:hidden;
  display:flex;
  box-shadow:0 20px 60px rgba(0,0,0,.08);
}

.left-panel{
  width:45%;
  background:#EFF6FF;
  padding:60px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.team-image{
  width:100%;
  max-width:420px;
  margin:auto;
  display:block;
}

.left-panel h1{
  margin-top:25px;
  font-size:38px;
  color:#1E3A8A;
  font-weight:700;
}

.left-panel p{
  margin-top:20px;
  color:#475569;
  line-height:30px;
  font-size:18px;
}

.feature-box{
  margin-top:35px;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:18px;
}

.feature-box div{
  background:white;
  padding:16px;
  border-radius:12px;
  font-weight:600;
  color:#2563EB;
  box-shadow:0 5px 15px rgba(0,0,0,.05);
}

.right-panel{
  width:55%;
  padding:70px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.form-card{
  width:100%;
  max-width:500px;
}

.form-card h2{
  font-size:36px;
  color:#1E293B;
}

.subtitle{
  margin-top:10px;
  color:#64748B;
  margin-bottom:30px;
}

.form-card input{
  width:100%;
  padding:18px;
  margin-bottom:18px;
  border:1px solid #CBD5E1;
  border-radius:12px;
  outline:none;
  font-size:16px;
  transition:.3s;
}

.form-card input:focus{
  border-color:#2563EB;
  box-shadow:0 0 10px rgba(37,99,235,.15);
}

.form-card button{
  width:100%;
  padding:18px;
  border:none;
  background:#2563EB;
  color:white;
  border-radius:12px;
  font-size:18px;
  cursor:pointer;
  transition:.3s;
}

.form-card button:hover{
  background:#1D4ED8;
}

.error{
  color:red;
  margin-bottom:15px;
}

.table-card{
  max-width:1300px;
  margin:40px auto;
  background:white;
  border-radius:25px;
  padding:40px;
  box-shadow:0 20px 60px rgba(0,0,0,.08);
}

.table-card h2{
  text-align:center;
  margin-bottom:30px;
  color:#1E293B;
  font-size:32px;
}

table{
  width:100%;
  border-collapse:collapse;
}

th{
  background:#2563EB;
  color:white;
  padding:18px;
}

td{
  padding:16px;
  text-align:center;
  border-bottom:1px solid #E2E8F0;
}

tr:hover{
  background:#F8FAFC;
}

@media(max-width:900px){

.main-card{
    flex-direction:column;
}

.left-panel,
.right-panel{
    width:100%;
    padding:40px;
}

.left-panel h1{
    text-align:center;
}

.left-panel p{
    text-align:center;
}

.feature-box{
    grid-template-columns:1fr;
}

.table-card{
    overflow-x:auto;
}

}